<mat-toolbar class="header" id="color">
  <div class="m-2 text-center" style="color: white">ALQUILER DE AUTOS</div>

  <section id="hambur" class="mat-typography title-group">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">apps </mat-icon>
  </section>

  <span class="nav-tool-items">
    <ul class="navbar-nav navbar navbar-right">
      <li *ngIf="!authService.isAuthenticated()">
        <a id="icons" [routerLink]="['/login']"><mat-icon>person</mat-icon></a>
      </li>

      <li *ngIf="authService.isAuthenticated()" class="dropdown">
        <a
          class="btn btn-outline-primary dropdown-toggle"
          href="#"
          role="button"
          id="dropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{ authService.usuario.username }}
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <button (click)="logout()" class="dropdown-item" type="submit">
            Salir
          </button>
        </div>
      </li>
    </ul>
  </span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    class="colores"
    #sidenav
    [mode]="isBiggerScreen() ? 'over' : 'side'"
    [(opened)]="opened"
    [fixedInViewport]="true"
    [fixedTopGap]
  >
    <mat-nav-list>
      <a
        id="icons"
        mat-list-item
        [routerLink]="['/autos']"
        [routerLinkActive]="'is-active'"
        ><mat-icon>directions_car</mat-icon> Autos</a
      >
      <a
        id="icons"
        mat-list-item
        [routerLink]="['/clientes']"
        [routerLinkActive]="'is-active'"
      >
        <mat-icon>person</mat-icon> Clientes</a
      >

      <a
        id="icons"
        mat-list-item
        [routerLink]="['/facturas']"
        [routerLinkActive]="'is-active'"
      >
        <mat-icon>text_snippet</mat-icon> Facturas</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Add Content Here -->
    <div style="padding: 15px">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
