<div class="card text-center">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <form #productoFrom="ngForm">
            <div class="form-row">
              <div class="col">
                  <label for="nombre">Nombre</label>
                <input type="text" class="form-control" placeholder="First name">
              </div>

              <div class="col">
                <label for="nombre">Descripcion</label>
                <input type="text" class="form-control" placeholder="Last name">
              </div>

              
        



            </div>
          </form>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>