<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let pelicula of peliculas">
        <div class="picsum-img-wrapper">
          <img src="{{ pelicula.img }}" alt="Random first slide" />
        </div>
        <div class="carousel-caption">
          <h3>{{ pelicula.name }}</h3>
          <p>{{ pelicula.desc }}</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
