<detalle-auto *ngIf="autoSeleccionado" [auto]="autoSeleccionado">
</detalle-auto>

<div class="my-2 text-left" *ngIf="authService.hasRole('ROLE_ADMIN')">
  <button
    class="btn btn-rounded btn-success"
    type="button"
    [routerLink]="['/autos/form']"
  >
    <span class="fa fa-plus-square"> Crear Autos</span>
  </button>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-3">
      <div class="card shadow bg-secondary" *ngFor="let auto of autos">
        <div class="inner">
          <img
            (click)="abrirModal(auto)"
            *ngIf="auto?.foto"
            src="http://localhost:8086/sistema/uploads/img/{{ auto.foto }}"
            alt="{{ auto.foto }}"
            class="img-thumbnail rounded"
            style="cursor: pointer"
            id="imagen"
          />
        </div>
        <div class="inner">
          <img
            (click)="abrirModal(auto)"
            *ngIf="!auto?.foto"
            src="http://localhost:8086/images/baseline_sentiment_very_dissatisfied_black_36dp.png"
            alt="Sin foto"
            class="img-thumbnail rounded"
            style="cursor: pointer"
            id="imagen"
          />
        </div>

        <div class="card-body text-center">
          <div class="card-title crop-text-1 bg-inf text-light">
            <strong> {{ auto.marca }}</strong>
          </div>
          <div class="modelo text-light">Modelo: {{ auto.modelo | uppercase }}</div>

          <div class="tipo_Auto text-light">
            Tipo de Auto: {{ auto.tipo_Auto | uppercase }}
          </div>
          <div class="precio text-light">Precio: S/{{ auto.precio }}</div>

          <div class="fecha_auto text-light">
            Fecha : {{ auto.fecha_auto | date: "yyyy" }}
          </div>

          <button
            *ngIf="authService.hasRole('ROLE_ADMIN')"
            type="button"
            name="editar"
            [routerLink]="['/autos/form', auto.id]"
            class="btn btn-warning btn-sm m-1"
          >
            <span class="fa fa-pencil"></span>
          </button>

          <button
            *ngIf="authService.hasRole('ROLE_ADMIN')"
            type="button"
            name="eliminar"
            (click)="delete(auto)"
            class="btn btn-danger btn-sm m-2"
          >
            <span class="fa fa-trash-o"></span>
          </button>

          <button
            *ngIf="authService.hasRole('ROLE_ADMIN')"
            type="button"
            class="btn btn-success btn-sm"
            [routerLink]="['/facturas/form', auto.id]"
          >
            <span class="fa fa-file" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pagination justify-content-center p-3">
  <app-paginator *ngIf="paginador" [paginador]="paginador"></app-paginator>
</div>
