<detalle-auto *ngIf="autoSeleccionado" [auto]="autoSeleccionado">
</detalle-auto>

<div class="container-fluid p-3">
  <div class="card text-center" >
    <div class="card-header">Listado de Autos</div>
    <div class="container p-3">
      <div class="card-body"></div>
      <div class="my-2 text-left">
        <button
          class="btn btn-rounded btn-success"
          type="button"
          [routerLink]="['/autos/form']"
        >
          <span class="fa fa-plus-square"> Crear Autos</span>
        </button>
      </div>
      <div class="justify-content-center row d-flex">
        <div class="card-inner card p-2 m-2" *ngFor="let auto of autos">
          <div class="inner">
            <img
              (click)="abrirModal(auto)"
              *ngIf="auto?.foto"
              src="http://localhost:8080/sistema/uploads/img/{{ auto.foto }}"
              alt="{{ auto.foto }}"
              class="img-thumbnail rounded"
              style="cursor: pointer"
              id="imagen"
            />
          </div>

          <div class="inner">
            <img
              (click)="abrirModal(auto)"
              *ngIf="!auto?.foto"
              src="http://localhost:8080/images/baseline_sentiment_very_dissatisfied_black_36dp.png"
              alt="Sin foto"
              class="img-thumbnail rounded"
              style="cursor: pointer"
              id="imagen"
            />
          </div>

          <div class="card-body">
            <div class="card-title crop-text-1">
              <strong>{{ auto.nombre }}</strong>
            </div>
            <div class="modelo">Modelo: {{ auto.modelo | uppercase }}</div>
            <div class="descripcion">
              Descripción: {{ auto.descripcion | uppercase }}
            </div>
            <div class="precio">Precio: S/{{ auto.precio }}</div>

            <div class="fecha_auto">
              Fecha : {{ auto.fecha_auto | date: "dd/MM/yyyy" }}
            </div>
            <button
              type="button"
              name="editar"
              [routerLink]="['/autos/form', auto.id]"
              class="btn btn-warning btn-sm m-2"
            >
              <span class="fa fa-pencil"></span>
            </button>
            <button
              type="button"
              name="eliminar"
              (click)="delete(auto)"
              class="btn btn-danger btn-sm"
            >
              <span class="fa fa-trash-o"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pagination justify-content-center p-3">
  <app-paginator
    *ngIf="paginador"
    [paginador]="paginador"
  ></app-paginator>
</div>

<!--

   <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Fecha Producción</th>
            <th>editar</th>
            <th>eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productos">
            <td>{{producto.id}}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.descripcion | uppercase }}</td>
            <td>S/{{producto.precio }}</td>
            <td>{{ producto.fechaPro | date: "EEEE dd, MMMM yyyy" }}</td>
            <td>
              <button
                type="button"
                name="editar"
                [routerLink]="['/productos/form', producto.id]"
                class="btn btn-warning btn-sm"
              >
              <span class="fa fa-pencil"></span>
              </button>
            </td>
            <td>
              <button
                type="button"
                name="eliminar"
                (click)="delete(producto)"
                class="btn btn-danger btn-sm"
              >
              <span class="fa fa-trash-o"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
-->
