<div class="container-fluid p-3">
  <ul class="alert alert-danger" *ngIf="errores?.length > 0">
    <li *ngFor="let err of errores">
      {{ err }}
    </li>
  </ul>
</div>
<mat-card-title class="text-center">Formulario de Autos</mat-card-title>

<mat-card>
  <form #autoFrom="ngForm">
    <div class="form-row">
      <div class="col">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" [(ngModel)]="auto.nombre" name="nombre" #nombre="ngModel" />
        <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
          <div *ngIf="nombre.errors.required">Nombre es requerido</div>
          <div *ngIf="nombre.errors.minlength">
            Nombre debe tener al menos 4 caracteres
          </div>
        </div>
      </div>

      <div class="col">
        <label for="marca">Marca</label>
        <input type="text" class="form-control" [(ngModel)]="auto.marca" name="marca" #marca="ngModel" />
        <div class="alert alert-danger" *ngIf="marca.invalid && (marca.dirty || marca.touched)">
          <div *ngIf="marca.errors.required">Marca es requerido</div>
        </div>
      </div>

      <div class="col">
        <label for="modelo">Modelo</label>
        <input type="text" class="form-control" [(ngModel)]="auto.modelo" name="modelo" #modelo="ngModel" />
        <div class="alert alert-danger" *ngIf="modelo.invalid && (modelo.dirty || modelo.touched)">
          <div *ngIf="modelo.errors.required">Modelo es requerido</div>
        </div>
      </div>
    </div>
    <br />

    <div class="form-row">
      <div class="col">
        <label for="tipo_Auto">Tipo de Auto</label>
        <input type="text" class="form-control" [(ngModel)]="auto.tipo_Auto" name="tipo_Auto" #tipo_Auto="ngModel" />
        <div class="alert alert-danger" *ngIf="tipo_Auto.invalid && (tipo_Auto.dirty || tipo_Auto.touched)">
          <div *ngIf="tipo_Auto.errors.required">tipo_Auto es requerido</div>
        </div>
      </div>

      <div class="col">
        <label for="tipo_Combustible">Tipo de Combustible</label>
        <input type="text" class="form-control" [(ngModel)]="auto.tipo_Combustible" name="tipo_Combustible"
          #tipo_Combustible="ngModel" />
        <div class="alert alert-danger"
          *ngIf="tipo_Combustible.invalid && (tipo_Combustible.dirty || tipo_Combustible.touched)">
          <div *ngIf="tipo_Combustible.errors.required">tipo_Combustible es requerido</div>
        </div>
      </div>

      <div class="col">
        <label for="placa">Placa</label>
        <input type="text" class="form-control" [(ngModel)]="auto.placa" name="placa" #placa="ngModel" />
      </div>
    </div>
    <br />

    <div class="form-row">
      <div class="col">
        <label for="descripcion">Descripción</label>
        <textarea class="form-control" name="descripcion" [(ngModel)]="auto.descripcion" #descripcion="ngModel"
          cols="10" rows="1"></textarea>
        <div class="alert alert-danger" *ngIf="
            descripcion.invalid && (descripcion.dirty || descripcion.touched)
          ">
          <div *ngIf="descripcion.errors.required">
            Descripcion es requerido
          </div>
        </div>
      </div>

      <div class="col">
        <label for="precio">Precio</label>
        <input type="text" class="form-control" [(ngModel)]="auto.precio" name="precio" #precio="ngModel" />
        <div class="alert alert-danger" *ngIf="precio.invalid && (precio.dirty || precio.touched)">
          <div *ngIf="precio.errors.required">Precio es requerido</div>
        </div>
      </div>

      <div class="col">
        <label for="fecha_auto">Fecha de Producción</label>
        <input type="date" class="form-control" [(ngModel)]="auto.fecha_auto" name="fecha_auto" #fecha_auto="ngModel" />
      </div>
    </div>
    <div class="text-center p-3">
      <button class="btn btn-info" role="button" (click)="create()" *ngIf="!auto.id; else elseBlock"
        [disabled]="!autoFrom.form.valid">
        <span class="fa fa-check-square"> Crear Auto</span>
      </button>

      <ng-template #elseBlock>
        <button class="btn btn-info" role="button" (click)="update()" [disabled]="!autoFrom.form.valid">
          <span class="fa fa-refresh"> Actualizar Auto</span>
        </button>
      </ng-template>
    </div>
  </form>
</mat-card>