table {
  width: 100%;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}


/* #color{
  background-color:#00600f;
  color: #FFFFFF;
} */

/* .card-text {
    word-wrap: break-word;
  }
  
  .card-inner {
    width: 300px;
    overflow: auto;
  }
  
  .description {
    color: grey;
    font-size: 10pt;
  }
  
  #imagen {
    height: 250px;
    overflow: hidden;
    object-fit: cover;
  }
  
  .crop-text-1 {
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  } */
  /* .container {
    margin-top: 8%;
  } */
/*   
  .inner {
    overflow: hidden;
  }
  
  .inner img {
    transition: all 1.5s ease;
  }
  
  .inner:hover img {
    transform: scale(1.5);
  } */
  